$primary-color: #4b4040;
$secondary-color: #814747;
$lightGrey: #ccc;

//error
$errorBGcolor: #f8d7da;
$errorTextColor: #721c24;
$errorBorderColor: #f5c6cb;

//warning
$warningBGcolor: #fff3cd;
$warningTextColor: #856404;
$warningBorderColor: #ffeeba;

// success
$successBGcolor: #d4edda;
$successTextColor: #155724;
$successBorderColor: #c3e6cb;